name: Build

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Setup HEMTT
              uses: arma-actions/hemtt@v1
            - name: Initialize Changelog
              run: |
                echo "Changelog" > CHANGELOG.md
                echo "============================" >> CHANGELOG.md
                echo "Generated on $(date)" >> CHANGELOG.md
#                echo "List of recent commits:" >> CHANGELOG.md
#                git log -10 --pretty=format:"- %h %s (%an, %ad)" --date=short >> CHANGELOG.md
            - name: Generate Changelog
              uses: janheinrichmerker/action-github-changelog-generator@v2.3
              with:
                  token: ${{ secrets.CUSTOM_GITHUB_TOKEN }} 
                  output: CHANGELOG.md
            - name: Run HEMTT build
              run: hemtt release
            - name: Rename PBOs
              run: mv .hemttout/release/addons/5r_mission_template.pbo .hemttout/release/addons/5r_mission_template.VR.pbo &&
                   mv .hemttout/release/addons/5r_mission_training.pbo .hemttout/release/addons/5r_mission_training.dagger_island_summer.pbo &&
                   mv .hemttout/release/addons/5r_mission_iutr_medical_amb_xing.pbo .hemttout/release/addons/5r_mission_iutr_medical_amb_xing.dagger_island_summer.pbo &&
                   mv .hemttout/release/addons/5r_mission_generator.pbo .hemttout/release/addons/5r_mission_generator.VR.pbo
            - name: Upload Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: 5r_missions
                  path: .hemttout/release/addons/
            - name: Upload Release
              uses: softprops/action-gh-release@v2
              if: github.ref_type == 'tag'
              with:
                  files: |
                    .hemttout/release/addons/5r_mission_template.VR.pbo 
                    .hemttout/release/addons/5r_mission_training.dagger_island_summer.pbo
                    .hemttout/release/addons/5r_mission_generator.VR.pbo
                    .hemttout/release/addons/5r_mission_iutr_medical_amb_xing.dagger_island_summer.pbo  
                  token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
                  repository: 5ranger/mission-template
                  body_path: CHANGELOG.md
                  make_latest: "true"
